@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Red Hat Display', sans-serif;
  overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,600;1,600;1,700&display=swap');


.main{
  background-image: url('../../public/bg1.png');
  background-size: 100% 900px;
  max-width: 1920px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.main-2{
  background-image: url('../../public/bg2.png');
  background-size: 100% 900px;
  max-width: 1920px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.logo{
  filter: drop-shadow(15px 10px 15px black);
}

body::-webkit-scrollbar, main::-webkit-scrollbar{
  width: 10px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-track, main::-webkit-scrollbar-track {
  background-color: #0F0F0F; /* Cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb, main::-webkit-scrollbar-thumb {
  background-color: #BEEC00; /* Cor da barra de rolagem */
  border-radius: 16px; /* Adiciona o border-radius */
}

